In [2]:
!pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\vigne\appdata\local\programs\python\python312\lib\site-packages (2.0.5)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
import pandas as pd
from kafka import KafkaConsumer,KafkaProducer
from time import sleep
from json import dumps
import json

In [34]:
producer= KafkaProducer(bootstrap_servers=['13.203.76.24:9092'],
                        value_serializer=lambda x:
                        dumps(x).encode('utf-8'))#encoding and dumping it

In [35]:
producer.send('demo_testing2',value={'country':'India'})

In [36]:
df=pd.read_csv('car_price_dataset.csv')

In [37]:
df.head(5)

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         10000 non-null  object
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Engine_Size   10000 non-null  float64
 4   Fuel_Type     10000 non-null  object
 5   Transmission  10000 non-null  object
 6   Mileage       10000 non-null  int64
 7   Doors         10000 non-null  int64
 8   Owner_Count   10000 non-null  int64
 9   Price         10000 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 781.4+ KB

In [39]:
df.shape

(10000, 10)

In [40]:
df.isnull().sum()

Brand           0
Model           0
Year            0
Engine_Size     0
Fuel_Type       0
Transmission    0
Mileage         0
Doors           0
Owner_Count     0
Price           0
dtype: int64

In [41]:
#this will give a list
df.sample().to_dict(orient="records")

[{'Brand': 'Audi',
  'Model': 'Q5',
  'Year': 2000,
  'Engine_Size': 2.1,
  'Fuel_Type': 'Hybrid',
  'Transmission': 'Semi-Automatic',
  'Mileage': 6916,
  'Doors': 3,
  'Owner_Count': 3,
  'Price': 7061}]

In [42]:
#this will give a proper json
df.sample().to_dict(orient="records")[0]

{'Brand': 'Kia',
 'Model': 'Rio',
 'Year': 2017,
 'Engine_Size': 2.6,
 'Fuel_Type': 'Petrol',
 'Transmission': 'Semi-Automatic',
 'Mileage': 256309,
 'Doors': 3,
 'Owner_Count': 1,
 'Price': 6673}

In [55]:
dict_car_price=df.sample().to_dict(orient="records")[0]
producer.send('demo_testing2',value=dict_car_price)

In [53]:
#flushes old producer data
producer.flush()